{% extends 'base.html' %}

{% block content %}
<section class="welcome-section">
    <div class="welcome-content">
        <h1>Welcome to My Portfolio</h1>
    </div>
</section>

<section class="intro-section">
    <div class="intro-content">
        <h1>Hi! I'm Ik Teng</h1>
        <p>🎓 I am currently studying Bachelor's degree of Science in Computer science at University of Wisconsin - Madison 🦡</p>
        <p>📱 I like to play RPG games and take pictures in my free time.</p>
        <p>🌱 I also like to experience new things.</p>
    </div>
</section>

<section class="skills-section">
    <h1>🛠️ Key Skills</h1>
    <div class="skills-cards">
        <div class="skills-card">
            <h2>📁 Documentations Application</h2>
            <ul>
                <li>Microsoft Excel</li>
                <li>Microsoft Word</li>
                <li>Microsoft PowerPoint</li>
            </ul>
        </div>
        <div class="skills-card">
            <h2>👩‍💻 Programming Language</h2>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
        </div>
        <div class="skills-card">
            <h2>💬 Languages</h2>
            <ul>
                <li>English</li>
                <li>Chinese</li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}
